In [4]:
import requests
import numpy as np
import pandas as pd

def get_bin_lockedsavings():

    data_apy = {'name': [], 'symbol': [], 'apr': [], 'apy': []}
    res = requests.get(f'https://api.yearn.finance/v1/chains/1/vaults/all').json()
    
    for i in range(len(res)):

        data_apy['apr'].append(round(res[i]['apy']['gross_apr']*100, 2))
        data_apy['apy'].append(round(res[i]['apy']['net_apy']*100, 2))
        data_apy['name'].append(res[i]['name'])
        data_apy['symbol'].append(res[i]['symbol'])
    
    df = pd.DataFrame(data_apy)
    display(df)
    #print(res)

get_bin_lockedsavings()

                            name                   symbol    apr    apy
0    pickling SushiSwap LP Token                     pSLP   9.63   9.63
1                         yveCRV               yveCRV-DAO   4.80   4.80
2                           USDC                    yUSDC   0.00   0.00
3                     curve.fi/y  yyDAI+yUSDC+yUSDT+yTUSD   1.16   1.10
4                           TUSD                    yTUSD   8.79   7.28
..                           ...                      ...    ...    ...
122           yvCurve-DOLA 0.4.3             yvCurve-DOLA   8.19   4.67
123           yvCurve-USDP 0.4.3             yvCurve-USDP   2.85   0.42
124             yvYFIETH-f 0.4.3               yvYFIETH-f  24.44  17.96
125     yvCurve-rETHwstETH 0.4.3       yvCurve-rETHwstETH   1.76   0.00
126     yvCurve-stETH-WETH 0.4.3       yvCurve-stETH-WETH   6.15   3.61

[127 rows x 4 columns]

In [7]:
def get_aave_pool():
    
    res = requests.get(f'https://aave-api-v2.aave.com/data/pools').json()
    print(res)

In [8]:
get_aave_pool()

[{'liquidity': {'usd': 227389528.12318778, 'eth': 128058.82108440169, 'native': 2443547.166714394}, 'price': {'eth': 0.052406936452382966, 'usd': 93.05714709363966}, 'address': '0x4da27a545c0c5B758a6BA100e3a049001de870f5', 'apy': 8.21, 'name': 'Staked Aave', 'symbol': 'stkAAVE', 'updatedAt': '2022-05-29T05:45:52.985Z'}, {'liquidity': {'usd': 130773205.00598802, 'eth': 73647.46565384108, 'native': 1051441206.078768}, 'price': {'eth': 7.0044302266316e-05, 'usd': 0.12437519497042732}, 'address': '0xa1116930326D21fB917d5A27F1E9943A9595fb47', 'apy': 14.28, 'name': 'Staked Aave Balancer Pool Token', 'symbol': 'stkABPT', 'updatedAt': '2022-05-29T05:45:52.987Z'}]